@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(170deg ,#023e8a,#ade8f4);
}

img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  height: 380px;
  width: 600px;
  overflow: hidden;
  border: 3px solid #023047;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.image-container {
  display: flex;
  transform: translateX(0px);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 49.5%;
  border: none;
  background-color: #023047;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.button:focus {
  outline: none;
}
