@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #f2e8cf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.button {
  background-color: teal;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.notifContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notif {
  color: #fff;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.notif.purple {
  background-color: #7209b7;
}
.notif.pink {
  background-color: #ff70a6;
}
.notif.brown {
  background-color: #78290f;
}
.notif.blue {
  background-color: #0077b6;
}
.notif.green {
  background-color: #132a13;
}
.notif.teal {
  background-color: #006d77;
}
.notif.orange {
  background-color: #dc2f02;
}
