@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  margin: 0;
  background: linear-gradient(to right, #fefae0, #bc6c25);
}

.title {
  margin: 10px 0px 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  min-width: 1000px;
  padding: 20px;
}

.container img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.container img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

